  <div class="container-fluid">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <h3>Company: {{business.company_name}}</h3>
        <h4>Manufacture: {{business.manufacture_name}}</h4>
        <p>Address: <em>{{business.company_address}}</em> </p>
        <p>
          <b>Director: {{business.company_director}}</b>
          <em>Phone: {{business.director_phone}}</em>
          <em>E-mail: {{business.director_mail}}</em>
        </p>
        <p>
          <b>Additional contact: {{business.additional_contact_name}}</b>
          <em>Phone: {{business.additional_contact_phone}}</em>
        </p>
        <h4>Site: {{business.company_site}}</h4>
        <p>Description: {{business.company_description}}</p>
      </div>
  </div>
<div class="container-fluid">
  <div class="col-md-offset-2 col-md-8 col-md-offset-2">
    <ng-map zoom="16" center="{{newAddress}}" />
    <marker position="{{newAddress}}">
    </marker>
  </div>
</div>