<div class="container-fluid">
  <div class="row">

    <!--Search menu-->
    <div class="col-md-offset-2 col-md-3" >
      <h3>Search by company name</h3>
      <eui-searchbox field="'company_name'"></eui-searchbox>
      <h3>Search by director name</h3>
      <eui-searchbox field="'company_director'"></eui-searchbox>

      <h3>Manufacture type:</h3>
      <eui-singleselect field="'manufacture_name'" size="10"></eui-singleselect> 

      <h3>Description include:</h3>
      <eui-checklist field="'company_description'" size="5"></eui-checklist>

      <!-- Additional search filter -->
      <div class="form-group">
        <label for="srch">Search word/chars filter:</label>
        <input type="text" class="form-control" id="srch" ng-model="query">
      </div>

      <!--Results per page -->
      <div class="form-group">
        <label for="resPerPage">Results per page:</label>
        <select class="form-control" id="resPerPage" ng-model="indexVM.pageSize">
          <option ng-repeat="count in [10, 20, 50, 100]">{{count}}</option>
        </select>
      </div>

      <!-- Business create button -->
      <p><a href="#/addBusiness" class="btn btn-info" role="button">Add new business</a></p>
      <!-- Manufacture edit  button -->
      <p><a href="#/editManufacture" class="btn btn-info" role="button">Edit manufacture description</a></p>
    </div>

    <!--Search result (catalog)-->
    <div class="col-md-4">
      <h1>Results</h1>
      <ul>
          <li ng-repeat="doc in indexVM.results.hits.hits | filter:query">
              <!--{{doc._source | json | limitTo: 500 }}-->
              <h3><a href="#/business-catalog/{{doc._source.company_name}}" ng-click="getCompanyDescription(doc._source)">{{doc._source.company_name}}</a></h3>
              <h4>{{doc._source.manufacture_name}}</h4>
              <p>
                <b>{{doc._source.company_director}}</b>
                <em>{{doc._source.director_phone}}</em>
              </p>
          </li>
      </ul>
      <eui-simple-paging></eui-simple-paging>
    </div>
  </div>
</div>