<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<form class="form-horizontal" novalidate name="editManufactureForm" role="form">
				<!-- Manufacture type group -->
				<div class="control-group manufactureType col-md-10" ng-repeat="mfc in manufacture">
					<!-- Label "Manufacture type:" - Dropdown select-->
					<label class="control-label" for="man_types">Тип производства: </label>
			    	<select class="controls" id="man_types" ng-model="mfc.selected_type">
			    	  <option ng-repeat="type in manufacture_types" value="{{type}}">{{type}}</option>
			    	</select>
				
					<div class="control-group manufactureLayers">
					<!-- Layer-diapasone group -->
						<div class="control-group layer" ng-repeat="layer in mfc.manufacture_layers">
							<!-- Label "Layer:" - Dropdown select -->
							<label class="control-label" for="man_layers">Слой: </label>
					    	<select class="controls" id="man_layers" ng-model="layer.selected_type">
					    	  <option ng-repeat="l_type in layer_types" value="{{l_type}}" >{{l_type}}</option>
					    	</select>
					    	<div class="layerDiapasones">
						    	<div class="diapasone" ng-repeat="diap in layer.diapasones">
						    		<label class="control-label">Диапазон: </label>
						    		<span>От:<input type="text" ng-model="diap.From"/></span>
						    		<span>До:<input type="text" ng-model="diap.To"/></span>
						    		<span>Значение:<input type="text" ng-model="diap.Value"/></span>
						    	</div>
					    	</div>
					    	<input class="btn btn-default addDiapasone" type="button" value="Добавить диапазон" ng-click="addDiapasone(layer.number)"/>
						</div>
					</div>

					<input class="btn btn-default addLayer col-md-offset-7" type="button" value="Добавить слой" ng-click="addLayer()"/>
					<input class="btn btn-default updateManufacture" type="button" value="Обновить" ng-click="updateManufacture()"/>

				</div>


			</form>
		</div>
	</div>
</div>